.info-container {
  height: 567px;
  width: 100%;
  background-image: url('../images/descriptive-image.jpg');
  background-repeat: no-repeat;
  background-size: cover;
}

.btn {
  border-radius: 4px !important;
}

nav li:hover {
  border-bottom: 1px solid white;
  box-sizing: border-box;
}

.description-text {
  color: #ffffff;
  margin: auto;
  float: left;
  margin-top: 14%;
  margin-left: 11%;
}

.input-error {
  margin-bottom: 2px !important;
  border-bottom: 1px solid #F44336 !important;;
  box-shadow: 0 1px 0 0 #F44336 !important;;
}

.error-span {
  font-size: 10px;
  color: #f44336;
}

.custom-blue {
  background-color: #203d73!important;
}

.custom-green {
  background-color: #187955!important;
}

.main-text {
  font-size: 34.53px;
  width: 99%;
  font-weight: 300;
}

.supporting-text {
  margin-top: 13px;
  font-weight: 300;
  width: 64%;
}

.form-spacing {
  margin-top: 2px !important;
}

.signup-wrapper {
  font-size: 34px;
  font-weight: 300;
  font-size: 34px;
  font-weight: 300;
  margin-left: 4%;
  margin-top: 32px;
}

.small-signup-text {
  font-size: 12px;
  margin-bottom: 14px;
}

.signup-container {
  padding-left: 4.7%;
  padding-top: 19px;
}

.signup-container span {
  font-weight: 300;
  font-size: 12px;
}

.custom-btn {
  width: 96%;
  margin-left: 2%;
  font-weight: 300;
}

.custom-signup-btn {
  margin-left: 0px;
  margin-top: 16px;
  width: 95%;
  font-weight: 300;
}

.row {
  margin-bottom: 5px !important;
}

.form-container {
  float: left;
  color: #ffffff;
  width: 35%;
  margin-left: 2.5%;
}
